// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
 * Globals
 */
 
.site-wrapper{
  background: url(image_path('bg_main.jpg')) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*  background-color: #adadad;*/
  background-blend-mode: multiply;
  background-color: #adadad;
  background-attachment: fixed;
}

#musthead-head {
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}