<head>

<%= stylesheet_link_tag    'application', params[:controller], media: 'all'%> 

</head>

<body>


  
     
     <div class="header">
    <div class="container">
   <div class="nav">
     
      <p class=""> testi </p>
      <p class=""> testi </p>
       
        </div>
      </div>
    </div>
  </div>
  
  <div class="main">
  <div class="container"> 
  <div class="supporting">

   
  
   
   
     
      <h1 class="Otsikko">Hello. My name is Petri</h1>
      <p class=""><strong>and I am Network engineer/past-time-coder</strong></p>
      <p class="">On this website you can find examples of my work in the Portfolio section. And section Blog contains interesting publications about stuff.</p>
     
 
          
            <a href="index" class="btn-main">View my work</a>
            <a href="index2" class="btn-main">View my work</a>
            <a href="index3" class="btn-main">View my work</a>
            
     
      
      
     
  </div> 
  </div>
  
  
  
  <div class="footer">
  
  <div class="container">
  
     
     
       
    <p>Petri Havukainen </p>
   
 
   
       </div>
        </div>
    </div>
</body>

