   <div class="inner cover">
            <h1 class="cover-heading">Hello. My name is Alex Bochurkin</h1>
            <p class="lead"><strong>and I am web developer</strong></p>
            <p class="lead">On this website you can find examples of my work in the Portfolio section. And section Blog contains interesting publications about web development.</p>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-default">View my work</a>
            </p>
          </div>