
    <head>
       
    </head>
    
    <body>
<div>
        <!-- Right below is an image of the sun -->
        <img id="sun" src="http://goo.gl/dEEssP">
        
        <!-- Insert the 'earth' on the next line -->
        <div id="earth-orbit">
        <img id="earth" src="http://goo.gl/o3YWu9">
        </div>
        
        <div id="moon-orbit">
        <img id="moon" src="https://www.dropbox.com/s/7e03s3l9qpwgysh/moon.png">
       </div>
 </div>      
    </body>

