
<head>

</head>

<body>

    <div id="eka">
     <a id="one" href="määrittely">   <p>Määrittely</p>
    </div>
    
    <div id="toinen">
       <a id="one" href="määrittely"> <p>Suunnittelu</p>
    </div>
    
    <div id="kolmas">
       <a id="one" href="määrittely"> <p>Toteutus</p>
    </div>
    
    <div id="neljäs">
       <a id="one" href="määrittely"> <p>Seuranta</p>
    </div>
    
    <div id="viides">
      <a id="one" href="määrittely">  <p>Päättäminen</p>
    </div>

</body>
