// Place all the styles related to the portfolio controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background-color: #D6D6C2;
    }

div {
	
	display: inline-block;
	height: 100px;
	width: 100px;
	border-radius: 100%;
	border: 2px solid black;
	margin-left: 20px;
	margin-top: 200px;
	margin-right: 20px;
	text-align: center;
	top: 50%;
	left: 50%;
	
	
}

div p {
	position: relative;
	margin-top: 40px;
	font-size: 12px;
	font-family: Verdana;
}

#eka {
    border: 5px Solid red;
    
    
    }
 #eka:hover {
     box-shadow: 0 0 64px red;
     
     }   

#toinen {
    border: 5px solid #FF4747;
     
    }
#toinen:hover {
    box-shadow: 0 0 64px #FF4747;
     
    }    
    
 #kolmas {
     border: 5px solid #B8E62E;
     
     }
     
#kolmas:hover {
     box-shadow: 0 0 64px #B8E62E;
     
     }
     
#neljäs {
    border: 5px solid #99FF33;
    
    }
 #neljäs:hover {
    box-shadow: 0 0 64px #99FF33;
    
    }   
    
#viides {
    border: 5px solid #8AE62E
    
    } 

#viides:hover {
    box-shadow: 0 0 64px #8AE62E
    
    }
    
#one {
    text-decoration: none;
    color: black;
    }    
    
